[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
django-crispy-forms = "*"
coverage = "*"
django-htmx = "*"
pillow = "*"
six = "*"

[dev-packages]

[requires]
python_version = "3.*"
