{% extends "proofchecker/base.html" %}

{% block content %}

    <a href="{% url 'add_proof' %}" class="btn btn-primary"> Add a new Proof </a>

<hr>
<div class="d-flex flex-row justify-content-start">
    <div class="row">
        {% for object in object_list %}
        <div class="col">
            <div class="card bg-light mb-3" style="width: 18rem;">
                <div class="card-header">
                    <h5 style="text-align: center"><b>Proof {{ object.id }}</b></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Premise(s):</b> {{ object.premises }}</li>
                    <li class="list-group-item"><b>Conclusion:</b> {{ object.conclusion }}</li>
                    <li class="list-group-item"><b>Lines:</b> {{ object.proofline_set.count }} </li>
                </ul>
                <div class="card-body">
                <a href="{% url 'update_proof' object.id %}" class="card-link"> Edit </a>
                <a href="{% url 'delete_proof' object.id %}" class="card-link"> Delete </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
