{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body>
    <nav class="left-side-navigation">
        <div class="sidenav">
            <a href="#">Profile</a>
            <a href="#">Courses</a>
            <a href="#">Resources</a>
        </div>
    </nav>

    <main>
        <p> Problem: This is a placeholder for where the problem will be populated</p>
        <div>
            Placeholder for where the user types the premise and conclusion.
            <br>
            <br>
            <form>
                <label>
                    <b>Premise</b>
                </label>
                <input id="premise" type="text" placeholder="Enter Premise" onkeydown="insertTab(this, event);" required>

                <label>
                    <b>Conclusion</b>
                </label>
                <input id="conclusion " type="text " placeholder="Enter Conclusion " onkeydown="insertTab(this, event); " required>

                <button type="submit ">Start solving!</button>


                <!-- <input type="submit " value="Submit ">
                <table>
                    <tr>
                        <td>Premise:</td>
                        <td><input id="premise " type="text " onkeydown="insertTab(this, event); "></td>
                    </tr>
                    <tr>
                        <td>Conclusion:</td>
                        <td><input id="conclusion " type="text " onkeydown="insertTab(this, event); "></td>
                    </tr>
                </table> -->
            </form>
        </div>
        <br>
        <div>
            Placeholder for where the formatted premise/conclusion statement will populate
        </div>
        <br>
        <div>
            <form onSubmit="return printOut() ">
                <textarea id='textbox' contenteditable onkeydown="insertTab(this, event); "></textarea>
                <input type="submit " value="Submit ">
            </form>
        </div>
    </main>

    <nav class="right-side-navigation ">
        <div class="btn-group ">
            <button>Info</button>
            <button>Rules</button>
            <button>Other</button>
        </div>
        <div id="right-side-information ">

            \and &nbsp&nbsp&nbsp ∧
            <br> \or &nbsp&nbsp&nbsp ∨
            <br> \implies &nbsp&nbsp →
            <br> \not &nbsp&nbsp&nbsp ¬
            <br>

        </div>
    </nav>




</body>

</html>