{% extends 'proofchecker/base.html' %} {% block content %}
    
<div class="py-5 my-5 text-center">

    <h1 class="display-3 fw-bold pb-3">ProofChecker</h1>

    {% if user.is_authenticated %} {% if user.is_student %}
        <h3>Welcome, Student!</h3>
    {% elif user.is_instructor %}
        <h3>Welcome, Instructor!</h3>
    {% endif %} {% else %}
        <h3>Welcome, Guest!</h3>
    {% endif %}

    <p class="lead pt-4"> Try out a proof with our new <a href="{% url 'proof_checker' %}"> ProofChecker! </a> </p>


</div>

{% endblock %}