{% extends 'proofchecker/base.html' %}
{% load static %}
{% block content %}
     <style>
        .hidden{
            display: none;
        }
    </style>
    <h2><strong>ProofChecker v0.1: </strong>Validate your proof!</h2>
    <hr>
    <form action="" method="post">
        <div>
            {% csrf_token %}
            {{ form.as_table }}
        </div>

        <hr>

        {% if formset %}
        
        {{ formset.management_form }}

        <div class="container">
            <div id="proof-line-list">

            <div id="column-titles" class="row text-left font-weight-bold">
                <div class="col-sm">Line #</div>
                <div class="col-sm">Expression</div>
                <div class="col-sm">Rule</div>
                <!-- FIXME: Empty column so alignment works -->
                <div class="col-sm"></div>
            </div>

                {% for line in formset %}
                    <div class="proofline-form">
                        <div class="row">
                            {% for field in line %}
                                <div class="col-sm">{{ field }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                <div id="empty-form" class="hidden">
                    <div class="row">
                        {% for field in formset.empty_form %}
                            <div class="col-sm">{{ field }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
            <button id="add-more" type="button">Add Proof Line</button>
        {% endif %}

        <hr>
        <input type="text" class="hidden" id="check-proof">
        <button type="submit">Check Proof</button>

        {% if response %}
        <br>
        <br>
        {% if response.err_msg %}
        <p> <strong>RESULT:</strong> {{ response.err_msg }} </p>
        {% else %}
        <p> <strong>RESULT:</strong> The proof is valid and complete!</p>
        {% endif %}
            
        {% endif %}

    </form>

    <!-- Add line button -->
    <script type="text/javascript">
        const addMoreBtn = document.getElementById("add-more")
        const totalNewForms = document.getElementById("id_form-TOTAL_FORMS")
        const currentProofLineForms = document.getElementsByClassName("proofline-form")
        addMoreBtn.addEventListener("click", add_new_form)
        function add_new_form(event){
            if (event){
                event.preventDefault()
            }
            let currentFormCount = currentProofLineForms.length
            const formCopyTarget = document.getElementById("proof-line-list")
            const emptyFormElement = document.getElementById("empty-form").cloneNode(true)
            emptyFormElement.setAttribute("class", "proofline-form")
            emptyFormElement.setAttribute("id", `form-${currentFormCount}`)
            const regex = new RegExp('__prefix__', 'g')
            emptyFormElement.innerHTML = emptyFormElement.innerHTML.replace(regex, currentFormCount)
            totalNewForms.setAttribute('value', currentFormCount + 1)
            formCopyTarget.append(emptyFormElement)
        }
    </script>

    <!-- Add symbol replacement functionality to input fields -->
    <script type="text/javascript">
        const inputFields = document.getElementsByClassName("text-replacement-enabled")

        for (let i of inputFields){
            console.log(i)
            i.setAttribute("onkeydown", "replaceCharacter(this);")
        }
    </script>

{% include 'proofchecker/right_navigation_menu.html' %}

{% endblock %}