{% extends 'proofchecker/base.html' %}
{% load static %}
{% block content %}
     <style>
        .hidden{
            display: none;
        }
    </style>
    <h2>Proof Details</h2>
    <hr>
    {% if response %}
        <p> <strong>RESULT:</strong> {{ response }} </p>
        <hr>
    {% endif %}
    <form action="" method="post">
        <div>
            {% csrf_token %}
            {{ form.as_table }}
        </div>
        <hr>
        {% if formset %}
            {{ formset.management_form }}
            <div id="proof-line-list">
                {% for form in formset %}
                    <div class="proofline-form">
                        {{ form.as_table }}
                    </div>
                {% endfor %}
            </div>
            <div id="empty-form" class="hidden">{{ formset.empty_form }}</div>
            <button id="add-more" type="button">Add Proof Line</button>
        {% endif %}
        <hr>
        <input type="text" class="hidden" id="check-proof">
        <button name="check_proof" type="submit">Check Proof</button>
        <button name="submit" type="submit">Save</button>
    </form>

    <script src="{% static 'js/proof_add_edit.js' %}"> </script>

    
{% endblock %}


{% block js_block %}
    <script type="text/javascript" src="{% static 'js/line_functionality.js' %}"></script>
{% endblock %}
