{% extends 'proofchecker/base.html' %} {% load static %} {% block content %}

<h2>
    <strong>ProofChecker v0.1: </strong>Validate your proof!</h2>
<hr>

<form action="" method="post">
    <div>
        {% csrf_token %} {{ form.as_table }}
        <button id="btn_start_proof" class="btn btn-primary mx-2" type="button" onclick="start_proof(this)" >Start Proof</button>
        <button id="btn_restart_proof" class="btn btn-primary mx-2 hidden" type="button" onclick="restart_proof(this)" >Restart Proof</button>
    </div>


    <hr> {% if formset %} {{ formset.management_form }}

    <!-- Display lines -->
    <table class="table table-hover table-sm table-responsive">

        <thead id="column-titles">
            <tr class="font-weight-bold">
                <td>Line #</td>
                <td>Expression</td>
                <td>Rule</td>
            </tr>
        </thead>
        <div id="valid-premise-div">
        </div>
        <div id="valid-conclusion-div">
        </div>
        <br>
        <tbody id="proofline-list">
            {% for line in formset %}
               {% if line.DELETE.value  %}
                            <tr id="proofline_set-{{ forloop.counter0 }}" class="proofline_set hidden">
                        {% else %}
                            <tr id="proofline_set-{{ forloop.counter0 }}" class="proofline_set">
                        {% endif %}

                                <td>{{ line.line_no }}</td>
                                <td>{{ line.formula }}</td>
                                <td>{{ line.rule }}</td>
                                <td>
                                    <input class="insert-row btn btn-secondary" type="button" name="proofline_set-{{ forloop.counter0 }}-insert-btn" id="id_proofline_set-{{ forloop.counter0 }}-insert-btn"
                                        value="Insert Row" onclick="insert_form(this)">
                                </td>
                                <td>
                                    <input class="create_subproof btn btn-secondary" type="button" name="proofline_set-{{ forloop.counter0 }}-create_subproof-btn" id="id_proofline_set-{{ forloop.counter0 }}-create_subproof-btn"
                                        value="Create Subproof" onclick="create_subproof(this)">
                                </td>
                                <td>
                                    <input class="delete-row btn btn-secondary" type="button" name="proofline_set-{{ forloop.counter0 }}-delete-btn" id="id_proofline_set-{{ forloop.counter0 }}-delete-btn"
                                        value="Delete Row" onclick="delete_form(this)">
                                </td>
                                <td>
                                    <input class="conclude_subproof btn btn-secondary" type="button" name="proofline_set-{{ forloop.counter0 }}-conclude_subproof-btn"
                                        id="id_proofline_set-{{ forloop.counter0 }}-conclude_subproof-btn" value="Conclude Subproof" onclick="conclude_subproof(this)">
                                </td>

                            <td>{{ line.id }}{{ line.DELETE }}{{ line.ORDER }}</td>
                        </tr>
                    {% endfor %}

        </tbody>

        <tr id="empty-form" class="hidden">
            <td>{{ formset.empty_form.line_no }}</td>
            <td>{{ formset.empty_form.formula }}</td>
            <td>{{ formset.empty_form.rule }}</td>
            <td>
                <input class="insert-row btn btn-secondary" type="button" name="proofline_set-__prefix__-insert-btn" id="id_proofline_set-__prefix__-insert-btn"
                    value="Insert Row" onclick="insert_form(this)">
            </td>
            <td>
                <input class="create_subproof btn btn-secondary" type="button" name="proofline_set-__prefix__-create_subproof-btn" id="id_proofline_set-__prefix__-create_subproof-btn"
                    value="Create Subproof" onclick="create_subproof(this)">
            </td>
            <td>
                <input class="delete-row btn btn-secondary" type="button" name="proofline_set-__prefix__-delete-btn" id="id_proofline_set-__prefix__-delete-btn"
                    value="Delete Row" onclick="delete_form(this)">
            </td>
            <td>
                <input class="conclude_subproof btn btn-secondary" type="button" name="proofline_set-__prefix__-conclude_subproof-btn" id="id_proofline_set-__prefix__-conclude_subproof-btn"
                    value="Conclude Subproof" onclick="conclude_subproof(this)">
            </td>
            <td class="td-hidden" hidden>{{ formset.empty_form.id }}{{ formset.empty_form.DELETE }}{{ formset.empty_form.ORDER }}</td>
        </tr>


    </table>

    <button id="add-more" class="btn btn-secondary" type="button">Add Proof Line</button>
    {% endif %}

    <hr>
    <input type="text" class="hidden" id="check-proof">
    <button name="check_proof" type="submit" class="btn btn-primary mb-3">Check Proof</button>

    <!-- Display validation errors from form fields-->
    {% for line in formset %} {% for field in line %} {% if field.errors %}
    <div class="container">
        {% for error in field.errors %}
        <div class="row">
            {% if line.line_no.value %}
            <p>
                <strong>Error on line {{line.line_no.value}}:</strong> {{ error }}</p>
            {% elif error == "This field is required." %}
            <p>
                <strong>Error:</strong> All fields are required</p>
            {% else %}
            <p>
                <strong>Error:</strong> {{ error }}</p>

            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %} {% endfor %} {% endfor %}

    <!-- Display response from Proof Checker-->
    {% if response %} {% if response.err_msg %}
    <p>
        <strong>Result:</strong> {{ response.err_msg }} </p>
    {% else %}
    <p>
        <strong>Result:</strong> The proof is valid and complete!</p>
    {% endif %} {% endif %}

</form>

{% include 'proofchecker/right_navigation_menu.html' %}

<script src="{% static 'js/syntax.js' %}"></script>
<script src="{% static 'js/proof_checker.js' %}"></script>
<script src="{% static 'js/valid_input.js' %}"></script> {% endblock %}