{% load static %}

<nav class="right-side-navigation">
    <div class="btn-group">
        <button id="info" onclick="showInformation(this.id)">Info</button>
        <button id="rules" onclick="showInformation(this.id)">Rules</button>
        <button id="other" onclick="showInformation(this.id)">Other</button>
    </div>

    <div id="menu">
        <div id="info-information">
            <div id="main-header">How to use:</div>

            <div id="sub-header">Entering symbols:</div>

            <div id="instruction"> To enter math symbols, use the bold escape commands below while typing.</div>
            <table id="info-table">
                <tbody>
                    <tr>
                        <td id="left">Conjunction</td>
                        <td id="center">\and</td>
                        <td id="right">∧</td>
                    </tr>
                    <tr>
                        <td id="left">Disjunction</td>
                        <td id="center">\or</td>
                        <td id="right">∨</td>
                    </tr>
                    <tr>
                        <td id="left">Negation</td>
                        <td id="center">\not</td>
                        <td id="right">¬</td>
                    </tr>
                    <tr>
                        <td id="left">Conditional</td>
                        <td id="center">\implies</td>
                        <td id="right">⊥</td>
                    </tr>
                    <tr>
                        <td id="left">Biconditional</td>
                        <td id="center">\iff</td>
                        <td id="right">↔</td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>

            <div id="sub-header">Premises:</div>

            <div id="instruction"> Separate premises using commas.</div>

            <div id="sub-header">Row numbering:</div>

            <div id="instruction"> Row numbers are repsented as a combination of numbers and decimal points.</div>
            <table id="info-table">
                <tbody>
                    <tr>
                        <td id="left-proof">1</td>
                        <td id="left">Not a subproof</td>
                    </tr>
                    <tr>
                        <td id="left-proof">2.1</td>
                        <td id="left">subproof of 2</td>
                    </tr>
                    <tr>
                        <td id="left-proof">2.2.1</td>
                        <td id="left">subproof of 2.2 </td>
                    </tr>
                    <tr>
                        <td id="left-proof">2.2.2</td>
                        <td id="left">subproof of 2.2</td>
                    </tr>
                    </tr>
                    <tr>
                </tbody>
            </table>

        </div>

        <div id="rules-information">
            <div id="main-header">Rules:</div>


            <div id="item-name">Conjunction:</div>
            <img src="{% static 'proofchecker/images/ae.svg' %}" alt="My image">
            <img src="{% static 'proofchecker/images/ai.svg' %}" alt="My image">

            <div id="item-name">Disjunction:</div>
            <img src="{% static 'proofchecker/images/oe.svg' %}" alt="My image">
            <img src="{% static 'proofchecker/images/oi.svg' %}" alt="My image">

            <div id="item-name">Negation:</div>
            <img src="{% static 'proofchecker/images/ne.svg' %}" alt="My image">
            <img src="{% static 'proofchecker/images/ni.svg' %}" alt="My image">

            <div id="item-name">Conditional:</div>
            <img src="{% static 'proofchecker/images/ce.svg' %}" alt="My image">
            <img src="{% static 'proofchecker/images/ci.svg' %}" alt="My image">

            <div id="item-name">Conditional:</div>
            <p>Coming soon</p>

            <div id="item-name">Indirect Proof:</div>
            <img src="{% static 'proofchecker/images/ip.svg' %}" alt="My image">

            <div id="item-name">Explosion:</div>
            <img src="{% static 'proofchecker/images/xp.svg' %}" alt="My image">

            <div id="item-name">Double Negation Elimination:</div>
            <p>Coming soon</p>


        </div>

        <div id="other-information">
            This is where other info goes.
        </div>


    </div>

</nav>