{% extends 'proofchecker/base.html' %}
{% block content %}


<a href="{% url 'add_course' %}" class="btn btn-primary"> Add a new course </a>

<hr>

<div class="d-flex flex-row justify-content-start">
    <div class="row">
        {% for object in object_list %}
        <div class="col">
            <div class="card bg-light mb-3" style="width: 20rem;">
                <div class="card-header">
                    <h5 style="text-align: center"><b> {{ object.title }}</b></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Term:</b> {{ object.term }}</li>
                    <li class="list-group-item"><b>Section:</b> {{ object.section }}</li>

                </ul>
                <div class="card-body">
                <a href="{% url 'edit_course' object.id %}" class="card-link btn btn-primary"> Edit </a>
                <a href="{% url 'delete_course' object.id %}" class="card-link btn btn-secondary"> Delete </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
