
.full-menu{
  height:100%;
  margin-left: 25px;
  overflow: hidden;
  overflow-y : scroll;
}

.btn-group button{
  background-color: white;
  border: 3px solid #072a4d;
  color: #072a4d;
  padding: 10px 15px;
  cursor: pointer;
  float: left;  
  font-weight: bold;
  width:95px;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #afafaf;
}

#menu{
  height:inherit;
  width: 100%;
  flex-direction: column;
}

#main-header{
  font-weight:bold;
  font-size: 25px;
  text-decoration: underline;
}

#sub-header{
  font-weight:bold;
  font-size: 18px;
  text-decoration: underline;
  padding-top:6px;
}


#item-name{
  font-weight:bold;
  font-size: 16px;
  padding-top:6px;
  padding-left:2px;
  padding-bottom: 0px;
}

#instruction{
  padding-left: 3px;
  padding-bottom: 3px;
  color: #072a4d;
}

table{
  table-layout: fixed;
  width:100%;
  background-color: #bdd4ebbe;
  margin-left: auto;
  margin-right: auto;
}

#info-information {
  text-align: left;
  display: visible;
}

#left{
  color: #072a4d;
  width: 55%;
  /* text-align: left; */
}

#center{
  width: 35%;
  font-weight:bold;
  text-decoration: underline;
  /* text-align: left; */
}

#right{
  text-align: right;
  width: 10%;
}

#left-proof{
  text-align: left;
  width:30%;
}


#info-table{
  width:90%;
}


#rules-information {
  text-align:left;
  display:none;
}

#other-information {
  display:none;
}