* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  main {
    margin-left: 200px; /*Same as navigation bar width  */
    margin-right: 250px; /*Same as information bar on right*/
    padding: 10px;
    padding-right: 10px;
  }
  
  .hidden{
    display: none;
  }

  .left-side-navigation {
    padding-top: 20px;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    width: 200px; /* Same as main margin-left*/
    height: 100%;
    background: #072a4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .left-side-navigation .coming-soon a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 20px;
    color: #f2f2f2;
  }

  .left-side-navigation .coming-soon h3 {
    display: inline-block;
    text-decoration: underline;
    padding: 5px 15px;
    font-size: 20px;
    color: #f2f2f2;
  }

  .left-side-navigation a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 25px;
    color: #f2f2f2;
  }
  
  /* When you mouse over the navigation links, change their color */
  .left-side-navigation a:hover {
    color: #f2f2f2;
    color: #929292;
  }


  
  

  