{% extends "proofchecker/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle" src="{{ user.instructor.image.url }}">
    </div>
    <div class="media-body">

    <h3>- My Profile -</h3>
    <br>
    <h4>Username - {{user.username}}</h4>
    <br>
    <h4>Email - {{user.email}}</h4>
    <br>
    <h4>Role - Instructor</h4>
    <br>
    <h4>Mobile - {{user.student.mobile}}</h4>
    <br>
    </div>
        <!-- <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>

        </form> -->

</div>

{% endblock %}